#contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.capa {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85px;
	height: 85px;
	background-color: #d5a0ee;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	margin: 15px;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}
